/* global variables */
:root {
    --primary-color: #9b42a1; 
    --secondary-color: #b0b0b0;
    --tertiary-color: #591863;
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    height: 100vh;
    background-image: linear-gradient(#070707, #301835);
    color: white !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

p, i, li {
 font-family: var(--secondary-font);
}

/* buttons */

button{
    border: none;
    font-size: 0.9rem;
    border-radius: 40px !important;
    padding: 5px 20px;
    font-family: var(--primary-font);
}

.primary-button {
    background-color: var(--primary-color) !important;
    color: white;
    border: none !important;
    margin: 0 10px;
}

.primary-button:hover{
    background-color: var(--tertiary-color) !important;
    transition: all 0.5s ease;
}