/* global variables */
:root {
    --primary-color: #9b42a1; 
    --secondary-color: #dee7ff;
    --tertiary-color: #591863;
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

p, i, li {
 font-family: var(--secondary-font);
}

/* buttons */

button{
    border: none;
    font-size: 0.8rem;
    border-radius: 30px !important;
    padding: 5px 20px;
    font-family: var(--secondary-font);
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin: 0 10px;
}

.primary-button:hover{
    background-color: var(--tertiary-color);
    transition: all 0.5s ease;
}